body {
    font-family: Verdana, sans-serif;
}

h2{
    font-size: 36px;
    margin: 1rem;
}

button{
    padding: 14px 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    box-shadow: rgb(0 0 0 / 30%) 0px 3px 8px;
}

.success{
    background-color: #99ff99;
}

.lost{
    background-color: #ff8080;
}

.draw{
    background-color: #ffff66;
}

button:hover{
    background-color: rgb(0, 0, 0, 0.1);
}

.info {
    padding: 20px;
    text-align: center;
}

.cell {
    width: 200px;
    height: 200px;
    background-color: #e6e6e6;
    border-radius: 15%;
    font-size: 150px;
    line-height: 190px;
    cursor: pointer;
    font-weight: bold;
}

.cell p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.game {
    display: flex;
    flex-direction: column;
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 40rem;
}

.center {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 650px) {
    .row {
        width: 20rem;
    }
    .cell {
        width: 100px;
        height: 100px;
        font-size: 75px;
        line-height: 95px;
    }
}